
/*Smart Phones And Tablets*/
@media(max-width:767px)
{	.indicatorsslide .carousel-indicators li
	{
		display: none;/*we can hide it by xs-hidden in colum*/
	}
	.navbar-fixed-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse
	{
		max-height: none;
	}
	.testimonials .carousel-indicators li img 
	{
		width: 75%;
	}
	.price .price_box img
	{
		width: 30%;
	}
	.out_team .team .person img
	{
		width: 35%;
	}
	.subscribe .form-control
	{
		margin: auto;
		margin-bottom: 20px;
	}
	.Statistics .data .stats i
	{
		font-size: 70px;
		margin-bottom: 10px;
	}
	.Statistics .data .stats p
	{
		font-size: 50px;
	}
	
	.skills .skills-progress
	{
		margin-left: 10px;
	}
	.skills .skills-progress h3
	{
		margin-bottom: -50px;
		
	}
	.skills .skills-info h3,p,button
	{
		margin-bottom: 15px;
		margin-left: 10px;
	}
	.contact-us .fields button
	{
		margin-left: 110px;
		margin-top: 40px;
		width:50%;
	}
	.footer .sitemap 
	{
		text-align:center;
	}
	.footer .social-list
	{
		margin-left: 130px;
	}
	.footer h3
	{
		text-align: center;
	}
	.footer .our-work h3
	{
		margin-left: -40px;
	}
	.footer .our-work 
	{
		margin-left: 60px;
	}
}

/*Meduim Screen*/
@media(min-width:768px) and (max-width:991px)
{	
	.skills .skills-progress
	{
		margin-left: 20px;
	}
	.skills .skills-progress h3
	{
		margin-bottom: -50px;
	}
	.skills .skills-info h3,p,button
	{
		margin-bottom: 15px;
		margin-left: 20px;
	}
	.contact-us .fields button
	{
		margin-left: 190px;
		margin-top: 40px;
		width:50%;
	}
}
@media(min-width:992PX) and (max-width:1199px)
{

}

/*Large Screen*/
@media(max-width:1200px)
{
	
}
