
/*Smart Phones And Tablets*/
@media(max-width:767px)	
{
	.contact-us .fields button
	{
		margin-right: 120px;
		margin-top: 40px;
		width:50%;
	}
}
/*Meduim Screen*/
@media(min-width:768px) and (max-width:991px)
{	
	.contact-us .fields button
	{
		margin-right: 190px;
	    margin-top: 40px;
	    width: 50%;
	}
}
@media(min-width:992PX) and (max-width:1199px)
{

}

/*Large Screen*/
@media(max-width:1200px)
{
	
}
