/*****Start Orange Theme*****/

.navbar-header .navbar-brand:hover,
.navbar-header.navbar-brand:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.footer .copyright:hover,
.breadcrumb a:hover
{
	color:orange;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.option-box .color-options ul li,
.option-box .fa-gear,
.scroll-top
{
	background-color:orange;
}
.option-box .color-options
{
	border:2px solid orange;
}

.about h1 span,
.features h1,
.features .feat h4,
.testimonials h1,
.testimonials span,
.price h1,
.out_team h1,
.subscribe h1,
.Statistics .data h1,
.skills h1,
.skills h3,
.contact-us .fields h1,
.contact-us .fields i,
.our-clients h1,
.footer h3,
.about-us h1,
.about-features  h3,
.about-ceo h3,
.faq h1  
{
	color: orange;
}
/*****End Orange Theme*****/