/*Start About Us Page*/
.breadcrumb-section
{
	background-color: #fcf9f9;
}
.breadcrumb
{
	margin-top:50px;
	margin-bottom: 0;
}
.breadcrumb a
{
	text-decoration: none;
	cursor: pointer;
	color:#AAAAAA; 	
	font-weight: bold;
}
.about-us
{
	padding-top: 40px;
}
.about-us h1
{
	font-family: 'Rlaway' , 'sans-serif';
	font-size: 50px;
}
.about-us hr
{
	width: 60%;
	border-width: 3px;
	border-color: #DDD;
}
.about-us img
{
	width: 100%;
	margin-bottom: 20px;
	border-radius: 5px;
}
.about-features 
{
	padding: 40px;
	padding-top: 0;
	margin-top: 20px;
}
.about-features  h3
{
	font-family: 'Rlaway' , 'sans-serif';
	font-size: 30px;
	letter-spacing: -1px;
}
.about-features p
{
	margin-bottom: 40px;
}
.about-ceo 
{
	background-color: #EEE;
	margin-bottom: 10px;
}
.about-ceo img
{
	margin-left: 80px;
	margin-top: 15px;
}
.about-ceo h3
{
	font-family: 'Rlaway' , 'sans-serif';
	font-size: 30px;
}
.about-ceo a
{
	margin-bottom: 30px;
}
/*End About Us Page*/

/*Start FAQ Page*/
.faq
{
	padding-top: 40px;
}
.faq h1
{
	font-family: 'Rlaway' , 'sans-serif';
	font-size: 50px;
}
.faq hr
{
	width: 60%;
	border-width: 3px;
	border-color: #DDD;
}
.faq p
{
	margin-bottom: 40px;
}
.faq-question 
{
	margin-bottom: 40px;
}
.faq-question .panel-heading
{
	padding: 30px;
}
.faq-question .panel-heading  a:before
{
  font-family: "Glyphicons Haflings";
  content:"\2212"; 
  float: left;
  color: #333;
  font-weight: bold;
  font-size: 30px;
}
.faq-question .panel-heading a.collapsed:before
{
  font-family: "Glyphicons Haflings";
  content:"\2b";
  float: left;
  color: #333;
  font-weight: bold;
  font-size: 30px;
}
.faq-question .panel-heading a:hover, 
.faq-question .panel-heading a:active, 
.faq-question .panel-heading a:focus  
{
    text-decoration:none;
}
/*End FAQ Page*/