body
{
    background-color: #fcf9f9;
   /*height:6000px;*/
  	overflow: hidden;/*remove scroll until load the page*/
}
h1,h2,h3,h4 .lead {font-family: 'Open Sans', sans-serif;}

/*Start Override Editing*/
/*Start Editing Background of Header*/
.navbar-inverse
{
	background-color: #5b5a5a;
	border-color:#5b5a5a;
}
/*End Editing Background of Header*/

/*Start Editing Brand*/
.navbar-header .navbar-brand
{
	color:#eeeeee;
	font-size: 20px;
}

/*End Editing Brand*/

/*Start Editing Items of Header*/
.navbar-inverse .navbar-nav > li > a
{
	font-size: 20px;
	color:#eeeeee;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
	font-size: 20px;
	background-color: #5b5a5a;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus
{
	font-size: 20px;
	color: #eeeeee;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus
{
	background-color: #5b5a5a;
}

/*Editing Begining of dropdown*/
.navbar-right .dropdown-menu
{	
	border:1px solid #968c8c;
	background-color:#eeeeee;
	left:0;
	right:auto;
}
/*End Editing Begining of dropdown*/
.dropdown-menu > li > a
{
	padding:6px 20px;
	font-size: 15px;
	color:#5b5a5a;
    -webkit-transition:padding 0.5 ease;
    -moz-transition:padding 0.5 ease;
    -o-transition:padding 0.5 ease;
    transition:padding 0.5 ease; 
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{
	padding-left: 25px;
	background-color:#5b5a5a;
	font-size: 15px;font-size: 15px;
}
.dropdown-menu .divider
{
	background-color:#968c8c;
	border:1.5px;
}
/*End Editing Items of Header*/

/*Start Editing of Carousel*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img
{
    width: 100%;
}
.carousel-caption p
{
	margin-bottom:110px;
	color: #5b5a5a;
	background: rgba(238, 238, 238, 0.3);
}
.indicatorsslide .carousel-indicators
{
	margin-bottom: 30px;
}
.indicatorsslide .carousel-indicators li
{
	height: 15px;
	width: 15px;
	border:1px solid #827f7f;
	background-color: #DDD;
}
.indicatorsslide .carousel-indicators .active 
{
	height: 15px;
	width: 15px;
	border:1px solid #DDD;
	background-color:#827f7f;
}
.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before
{
	color: #fff;
}
.carousel-control
{
	color: #fff;
}
/*End Editing of Carousel*/

/*End Override Editing*/

/*Start Editing Tool Box Section*/
.option-box
{
	position: fixed;
	top: 100px;
	left: 0;
	z-index: 9999;/*to make box upper on all layers*/
}
.option-box .color-options
{
	float: left;
	background-color: #5B5A5A;
	color: #FFF;
	padding:10px;
	width: 150px;
	display: none;
}
.option-box .color-options ul li
{
	width:20px;
	height: 20px;
	display: inline-block; 	
	margin-right: 3px;
	cursor: pointer;
}
.option-box .fa-gear
{
	padding: 5px;
	color: #5B5A5A;
	border:1px solid #5B5A5A;
	margin-left: -1px;
	cursor: pointer;
	margin-top: 30px;
}
/*End Editing Tool Box Section*/

/*Start Editing About Section*/
.about
{
	padding: 10px;
	margin:20px;
}
.about a
{
	text-decoration: none;
}
.about h1
{
	color:#5b5a5a;
	font-weight: bold;
}

.about .lead
{
	color: #888;
	font-size: 25px;
	margin-top: 15px;
}
/*End Editing About Section*/
/*Start Editing Features Section */

.features {background-color: rgb(90,90,90,0.1);}

.features h1
{
	margin-bottom: 15px;
	padding: 20px;
	font-weight:bold;
}
.features .feat .linkfeat span.glyphicon
{
	font-size: 30px;
	color: #5b5a5a;
	margin-bottom: 30px;
	cursor: pointer;
}
.features .feat p
{
	font-size: 15px;
	line-height: 2em;/*em means 2 times from line page size */
	color: #5b5a5a;
	margin-bottom: 30px;
}
.features .feat .linkfeat {text-decoration: none;}

.features .feat h4
{
	font-weight: bold;
	margin-bottom: 20px;
	cursor: pointer;
}
/*End Editing Features Section */

/*Start Editing Testimonials Section*/
.testimonials
{
	padding-top: 20px;
	padding-bottom: 20px;
}

.testimonials h1
{
	font-weight: bold;
	margin-bottom: 25px;
}
.testimonials .lead
{
	line-height: 2em;
	margin-bottom: 10px; 
}
.testimonials span
{
	font-size: 18px;
	font-weight: bold;
}
.testimonials .carousel-inner {min-height: 160px;}

.testimonials .carousel-indicators
{
	position: static;
	width: 100%;
	margin-left: auto; 
	padding-top: 20px;
}

.testimonials .carousel-indicators li
{
	text-indent: 0;
	width: 80px;
	height: 80px;
	opacity: 0.5;
	border-radius: 50%;
	margin:8px;
	overflow: hidden;/*put the photo inside circle*/
	-webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease; 
}
.testimonials .carousel-indicators li.active
{
	opacity: 1;
	border:1px solid #CCC;
}
.testimonials .carousel-indicators li img {max-width: 100%;}

/*End Editing Testimonials Section*/

/*Start Editing Price Table Section*/
.price {background-color: rgb(90,90,90,0.1);}

.price h1
{
	margin-bottom: 15px;
	padding: 20px;
	font-weight:bold;
}
.price .price_box
{
	background-color: #FFF;
	padding: 40px;
	margin-bottom: 50px;
	border:1px solid #DDD;
	cursor: pointer;
}

.price .price_box img
{
	width: 50%;
	border-radius: 50%;
	overflow: hidden;
	border:1px solid #CCC;
}
.price .price_box h2 {font-weight: bold;}

.price .price_box:hover p
{
	-webkit-transform:scale(1.1,1.1)rotate(360deg);
	-moz-transform:scale(1.1,1.1)rotate(360deg);
	-o-transform:scale(1.1,1.1)rotate(360deg);
	transform:scale(1.1,1.1)rotate(360deg);
}
.price .price_box p
{
	color: #919191;
	font-size: 20px;
	width: 170px;
	height: 30px;
	border-radius: 4%;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	background-color: rgb(90,90,90,0.1);
	-webkit-transition-duration:0.7s;
    -moz-transition-duration:0.7s;
    -o-transition-duration:0.7s;
    transition-duration:0.7s; 
}
.price .price_box ul
{
	line-height: 250%;
	font-size: 20px;
}
/*End Editing Price Table Section*/

/*Start Editing Our Team Section*/
.out_team
{
	background:url('../images/Team.jpg')no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	width:100%;
	min-height: 550px;
	background-color: #FCF9F9;
}
.out_team .team
{
	background-color: rgb(2,2,2,0.7);
	color: #FFF;
	min-height: 550px; 
}
.out_team h1
{
	font-weight: bold;
	margin-bottom: 35px;
	margin-top: 50px;
}
.out_team .team .person img {margin-bottom: 20px;}

.out_team .team .person h3 {margin-bottom: 20px;}

.out_team .team .person p {margin-bottom: 30px;}

.out_team .team .person i
{
	margin-right: 5px;
	margin-bottom: 30px;
}

/*End Editing Our Team Section*/

/*Start Editing Subscribe Section*/
.subscribe
{
	padding-top: 40px;
	padding-bottom: 60px;
	background-color: #EBE9E9;
}
.subscribe h1
{
	font-weight: bold;
	margin-bottom: 30px;
}
.subscribe p {margin-bottom: 30px;}

.subscribe .form-control
{
	border-radius: 0;
	margin-right: -5px;
	width:300px;
}
.subscribe button {border-radius: 0;}

.subscribe button i {margin-right: 5px;}

/*End Editing Subscribe Section

/*Start Editing Statistics Section*/
.Statistics
{
	background:url('../images/Team.jpg') no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	width:100%;
	min-height: 400px;
	background-color: #FCF9F9;
}
.Statistics .data
{
	background-color: rgb(2,2,2,0.7);
	min-height:400px;
}
.Statistics .data h1
{
	font-weight: bold;
	margin-bottom: 35px;
	margin-top: 50px;
}
.Statistics .data .stats
{
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;  
	margin-bottom: 30px;
}
.Statistics .data .stats {color: #FFF;}

.Statistics .data .stats:hover
{
	color:#C7ACA5;
	cursor: pointer;
}
.Statistics .data .stats i {margin-bottom: 30px;}

.Statistics .data .stats p
{
	font-size: 60px;
	font-weight: 500;
	margin-bottom: 15px;
}
.Statistics span
{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 50px;
}

/*End Editing Statistics Section*/

/*Start Editing Our Skills Section*/
.skills
{
	background-color: #EBE9E9;
	padding-top: 40px;
	padding-bottom: 60px;	
}
.skills h1
{
	font-weight: bold;
	margin-bottom: 30px;
}
.skills h3
{
	font-weight: bold;
	margin-bottom: 40px;
}
.skills .skills-progress .progress
{
	margin-bottom: 25px;
	height: 25px;
	line-height: 25px;
}
.skills .skills-progress .progress-desing .progress .progress-bar
{
	line-height: 25px;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	text-indent: 5px;
} 
.skills .skills-progress .progress-desing {margin-top: 70px;}

/*End Editing Our Skills Section*/

/*Start Editing Contact Us Section*/
.contact-us
{
	background:url('../images/Team.jpg') no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	width:100%;
	min-height: 400px;
	background-color: #FCF9F9;
}
.contact-us .fields
{
	background-color: rgb(2,2,2,0.7);
	min-height:400px;
	padding-top: 40px;
	padding-bottom:40px; 
}

.contact-us .fields h1,
.contact-us .fields i
{
	font-weight: bold;
	margin-bottom: 20px;
}
.contact-us .fields input[type="text"],
.contact-us .fields input[type="email"],
.contact-us .fields textarea
{
	background-color: rgb(2,2,2,0.5);
	color: #FFF;
}
.contact-us .fields textarea {height: 170px;}

.contact-us .fields button
{
	margin-top: 25px;
	font-size: 20px;
	background-color: #3b5998;
	color: #DDD;
}
/*End Editing Contact Us Section*/

/*Start Editing Our Clients Section*/
.our-clients
{
	background-color: #EBE9E9;
	padding-top: 40px;
	padding-bottom: 60px;
}	
.our-clients h1
{
	font-weight: bold;
	margin-bottom: 30px;
}
.our-clients img
{
	/* width: 100%; to show photo in the origin size */
	margin-bottom: 20px;
	margin-top: 20px;
	opacity: 0.5;
	filter: alpha(opacity=50);/*opacity in IE Browser*/
	/*make movements smooth*/
	-webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out; 
}
.our-clients img:hover
{
	opacity: 1;
	cursor: pointer;
}
/*End Editing Our Clients Section*/

/*Start Editing Footer Section*/
.footer
{
	background-color: rgb(2,2,2,0.6);
	color:#eeeeee;
	padding-top: 20px;
}
.footer h3 
{
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 40px;
	margin-left: 5px;
}
.footer .sitemap-list {overflow: hidden;}

.footer .sitemap-list li
{
	width: 33.33333%;
	float: left;
	padding: 5px 0;
}
.footer .social-list
{
	overflow: hidden;
	width:50%;
	margin-top:35px;
	margin-left:60px;
}
.footer .social-list li
{
	float: left;
	padding: 5px 0;
	margin-right: 10px;
	margin-bottom: 20px;
	opacity: 0.5;
	filter: alph(opacity=50);
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out; 
}
.footer .social-list li:hover
{
	opacity: 1;
	cursor: pointer;
}
.footer .articles {margin-bottom: 30px;}

.footer .articles .articles-photo {margin-right: 15px;}

.footer .work-photo
{
	margin-right: 25px;
	margin-bottom: 50px;
	border:1px solid #FFF;
}
.footer .copyright
{
	margin-top: 20px;
	background-color: #5b5a5a;
	padding: 20px;
	color:#eeeeee;
	font-size: 20px;
}

/*End Editing Footer Section*/

/*Start Editing Loading Section*/
.loading
{
	background-color: #222;
	color: #FFF;
	position: fixed;/*fixed without attr in the body section*/
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	z-index: 99999;
}
.spinner
{
  width: 100px;
  height: 100px;
  position: relative;
  margin-top:270px;
  margin-left:590px;
}

.double-bounce1, .double-bounce2 
{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2
{
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce 
{
  0%, 100% 
  { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 
  50% 
  { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/*End Editing Loading Section*/

/*Start Editing Scroll Top Button*/
.scroll-top
{
	color: #5B5A5A;
	width: 60px;
	height: 50px;
	padding:5px;
	text-align:center;
	position: fixed;
	right: 15px;
	bottom: 10px;
	z-index: 9999;
	border-radius: 2px;
	opacity: 0.6;
	border:1px solid #5B5A5A;
	display: none;
}
.scroll-top:hover
{
	cursor: pointer;
	opacity: 1;
}
/*End Editing Scroll Top Button*/