
.footer .articles .articles-photo {margin-left: 15px;}
.contact-us .fields button
{
  margin-top: 25px;
  font-size: 20px;
  background-color: #3b5998;
  color: #DDD;
  margin-right: 380px;
}

/*Start Editing Loading Section*/
.spinner
{
  width: 100px;
  height: 100px;
  position: relative;
  margin-top:270px;
  margin-right:655px;
}
/*End Editing Loading Section*/
.progress-bar
{
  float: right;
}

.skills .skills-progress .progress-desing .progress .progress-bar
{
    line-height: 25px;
    font-size: 15px;
    font-weight: bold;
    text-indent: 5px;
    text-align: right;
}

